* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #91322e;
}
.container {
  max-width: 960px;
  margin: 1rem auto;
  padding: 1rem;
  background: #e3c167;
  border-radius: 4px;
}
img {
  border-radius: 4px;
}
.accordion__header {
  text-align: center;
  margin-bottom: 2rem;
}
.accordion__header .accordion__title {
  margin: 0.8rem;
}
.accordion__header .accordion__tagline {
  margin: 0.8rem;
  font-size: 1.2rem;
}
.accordion__item {
  border-top: 3px solid #91322e;
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  transition: 0.3s all ease;
}
.accordion__question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
.accordion__question:hover {
  cursor: pointer;
}
.accordion__answer {
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease all;
}
footer {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: black;
}
footer a {
  text-decoration: none;
}
#bugs {
  margin-bottom: 1rem;
}